<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Xm-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraper</title>
</head>
<body>
    <h1>Web Scraper</h1>
    <form action="/scrape" method="POST">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url" required oninput="getOptions(this.value)">

        <!--Code for Dropdown menu upon selecting the input section of the form-->
        <select name="options" id="options" size="10" onchange="fillInput(this.value)"> <!-- size limits number of entries shown when the dropdown opens-->
        </select>
        <button type="submit">Scrape</button>

        <script>
            function getOptions(searchValue) {
                fetch(`/get_options?url=${encodeURIComponent(searchValue)}`) //encodeURIcomponent used to make sure all special characters are properly encoded
                .then(response => response.json()) //response from flask app.
                .then(data => {
                    const select = document.getElementById('options');
                    select.innerHTML = '';
                    data.forEach(option => {
                        const optionElement = document.createElement('option'); //creates option element for the select element in the form
                        optionElement.value = option;
                        optionElement.text = option;
                        select.add(optionElement);
                    });
                });
            }

            function fillInput(selectedValue) { //function that updates the input field 
                const input = document.getElementById('url')
                input.value = selectedValue; 
            }
        </script>
    </form>
</body>
</html>
