<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="/static/images/basketball-solid.svg">
    <meta http-equiv="Xm-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetScrape</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header">
        <div class="nav-container">
            <nav>
                <h1 class="logo">Bet Scrape</h1>
                <img src="" alt="">
                <ul>
                    <li><a href="#header">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-text">
            <p>Looking to increase your betting odds?</p>
            <h1><span>Search</span> for Player <br> Info below!</h1>
        </div>

    </header>

<!-- -------player search area------------ -->
    <div class="flex-container">
        <form action="/scrape" method="POST" id="Search">
            <label for="url">Player Search:</label>
            <div class="input-container">
                <div class="input-row">
                    <input type="text" id="url" name="url" required oninput="getOptions(this.value)">
                    <button type="submit" class="submit-btn" id="player-button">Search</button>
                </div>
                <!--Code for Dropdown menu upon selecting the input section of the form-->
                <select name="options" id="options" size="10" onchange="fillInput(this.value)"> <!-- size limits number of entries shown when the dropdown opens--> </select>
            </div>
    
            <script>
                function getOptions(searchValue) {
                    fetch(`/get_options?url=${encodeURIComponent(searchValue)}`) //encodeURIcomponent used to make sure all special characters are properly encoded
                    .then(response => response.json()) //response from flask app.
                    .then(data => {
                        const select = document.getElementById('options');
                        select.innerHTML = '';
                        data.forEach(option => {
                            const optionElement = document.createElement('option'); //creates option element for the select element in the form
                            optionElement.value = option;
                            optionElement.text = option;
                            select.add(optionElement);
                        });
                    });
                }
    
                function fillInput(selectedValue) { //function that updates the input field 
                    const input = document.getElementById('url')
                    input.value = selectedValue; 
                }
    // managing the player dropdown visibility
                var inputField = document.getElementById('url');
                var dropdownMenu = document.getElementById('options');
                var form = document.getElementById('Search');
    
                // everytime the input changes, check if the string is empty and determine whether to display the dropdown
                inputField.addEventListener('input', showDropdown);
                // add event listener for a click anywhere on the wepage
                document.body.addEventListener('click', checkFocus);
                
                function showDropdown() {
                    if (inputField.value.trim() !== '') {
                        dropdownMenu.style.display = 'flex';
                    } else {
                        dropdownMenu.style.display = 'none';
                    }
                }
                // check if the focus is within the form, hide the dropdown if the focus is outside the form
                function checkFocus(event) {
                    if (!form.contains(event.target)) {
                        dropdownMenu.style.display = 'none';
                    }
                }
                
                // Adding an event listener for the arrow down key
                inputField.addEventListener('keydown', function(event) {
                    if (event.key == 'ArrowDown') {
                        event.preventDefault();

                        if (dropdownMenu.style.display == 'flex' && event.key == 'ArrowDown') {
                            var options = dropdownMenu.querySelectorAll('option');
                            var selectedIndex = Array.from(options).findIndex(option => option.selected);

                            // moving to the first option if you reach the last option
                            if (selectedIndex === -1 || selectedIndex === options.length - 1) {
                                options[0].selected = true;
                            } else {
                                // moving to the next option
                                options[selectedIndex+1].selected = true;
                            }
                            dropdownMenu.focus();
                            inputField.value = dropdownMenu.value;
                        }
                    }
                    // Arrow up looping to the last option.
                    if (event.key == 'ArrowUp') {
                        event.preventDefault();

                        if (dropdownMenu.style.display == 'flex' && event.key == 'ArrowUp') {
                            var options = dropdownMenu.querySelectorAll('option');
                            var selectedIndex = Array.from(options).findIndex(option => option.selected);
        
                            // moving to the last option if you reach the last option
                            if (selectedIndex === 0) {
                                options[options.length-1].selected = true;
                            } else {
                                // moving to the next option
                                options[selectedIndex-1].selected = true;
                            }
                        }
                    }
                })

                //Pressing Enter initiates the button action
                dropdownMenu.addEventListener('keydown', function(event) {
                    if (event.key === 'Enter') {
                        event.preventDefault();
                        document.getElementById('player-button').click();
                    }
                    // Backspace directs you back to the input box
                    if (event.key === 'Backspace') {
                        event.preventDefault();
                        inputField.focus();
                    }
                })


                // Event listener for filling in the input box based on what is selected in the options box.
            </script>
        </form>
    
        <!-- --------team search area-------- -->
        <form action="/team_scrape" method="POST" id="Team_Search">
            <label for="team_url">Team Search:</label>
            <div class="input-container">
                <div class="input-row">
                    <input type="input" id="team_url" name="team_url" required oninput="getTeamOptions(this.value)">
                    <button type="submit" class="submit-btn">Search</button> 
                </div>
                <!-- Teams Dropdown Box  -->
                <select name="team_options" id="team_options" size="10" onchange="fillTeamInput(this.value)"></select>  
            </div>
    
            <script>
                function getTeamOptions(searchValue) {
                    fetch(`/get_team_options?team_url=${encodeURIComponent(searchValue)}`)
                    .then(response => response.json())
                    .then(data => {
                        const select = document.getElementById('team_options');
                        select.innerHTML = '';
                        data.forEach(option => {
                            const optionElement = document.createElement('option');
                            optionElement.value = option;
                            optionElement.text = option;
                            select.add(optionElement);
                        });
                    });
                }
    
                function fillTeamInput(selectedValue) {
                    const input = document.getElementById("team_url")
                    input.value = selectedValue;
                }
    // managing the team dropdown visibility
                var TeamInputField = document.getElementById('team_url');
                var TeamDropdownMenu = document.getElementById('team_options');
                var team_form = document.getElementById('Team_Search');
    
                TeamInputField.addEventListener('focus', showTeamDropdown);
                // add event listener for a click anywhere on the wepage
                document.body.addEventListener('click', TeamCheckFocus);
                
                function showTeamDropdown() {
                    TeamDropdownMenu.style.display = 'block';
                }
                // check if the focus is within the form, hide the dropdown if the focus is outside the form
                function TeamCheckFocus(event) {
                    if (!team_form.contains(event.target)) {
                        TeamDropdownMenu.style.display = 'none';
                    }
                }
            </script>
        </form>
    </div>

    <!-- Todays Scores -->
    <div class="scores-container">
        <h1>Today's Scores</h1>
        <p id="currentDate">Here are the statlines for all games on </p>
        <!-- Games -->
        <div id="games-container">
            <!-- creates a div for each game found by flask -->
            {% for value in scores_content.values() | list%}
                <h2>Game {{loop.index}}</h1> 
                <div class="recent-games">{{value | safe}}</div>
            {% endfor %}
        </div>
        <script>
            function updateDate() {
                // getting current date
                var now = new Date();

                // Make an array for the Month names
                var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

                // Format date to the desired format (MM-DD-YYYY)
                var formattedDate = monthNames[now.getMonth()] + ' ' + now.getDate() + ', ' + now.getFullYear();
                
                // assign the formattedDate to the HTML Element
                var currentDateElement = document.getElementById('currentDate');
                currentDateElement.innerHTML += formattedDate;
            }
            updateDate();
        </script>
        
    </div>

    <!-- footer -->
    <div class="copyright">
        <p>Copyright 2024. Made by Lucas Chung, Developer for LHLC</p>
    </div>
</body>
</html>
